*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:linear-gradient(135deg,#020617,#0f172a,#020617);
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:rgba(2,6,23,0.8);
backdrop-filter:blur(10px);
}

.logo{
color:#38bdf8;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar li{
margin-left:25px;
}

.navbar a{
text-decoration:none;
color:white;
}

.navbar a:hover{
color:#38bdf8;
}

/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:120px 80px;
}

.hero-text h1{
font-size:50px;
}

.hero-text span{
color:#38bdf8;
}

.hero-text p{
margin:20px 0;
color:#cbd5f5;
}

.hero-buttons{
margin-top:20px;
}

.btn{
padding:12px 24px;
background:#38bdf8;
border-radius:6px;
text-decoration:none;
color:white;
margin-right:10px;
}

.btn-outline{
padding:12px 24px;
border:1px solid #38bdf8;
border-radius:6px;
text-decoration:none;
color:#38bdf8;
}

.hero-img img{
width:260px;
border-radius:50%;
border:4px solid #38bdf8;
}

/* SECTION */

.section{
padding:80px;
text-align:center;
}

.section h2{
color:#38bdf8;
margin-bottom:20px;
}

/* SKILLS */

.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.skill{
background:#1e293b;
padding:12px 20px;
margin:10px;
border-radius:6px;
}

/* PROJECTS */

.projects{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.project{
background:#1e293b;
width:260px;
margin:20px;
border-radius:10px;
overflow:hidden;
transition:0.3s;
}

.project img{
width:100%;
height:160px;
object-fit:cover;
}

.project h3{
margin:15px;
}

.project p{
margin:0 15px 15px;
}

.project:hover{
transform:translateY(-8px);
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#020617;
}